.base {
  font-family: var(--font-1);
  font-size: 0.9rem;
  padding: 0.55rem 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  text-wrap: nowrap;
}

.disabled {
  pointer-events: none;
  opacity: 0.8;
}

.primary {
  background-color: var(--color-primary);
  color: white;

  &:hover {
    opacity: 0.9;
  }
}

.secondary {
  background-color: transparent;
  border: 2px solid var(--color-border);
  color: var(--color-text);

  &:hover {
    border-color: var(--color-border-d);
  }
}
